html {
 background-color:#050505;
 color:#050505;
}



.header {
	font-family:Open Sans,Arial;
	color: #fefefe;
	background-color: #454545;
	background: linear-gradient(90deg, rgba(0,128,255,1) 0%, rgba(128,0,255,1) 50%, rgba(255,0,128,1) 100%);
	margin:0 auto;
	padding: 0;
	position: relative;
}

.header-content {
	margin: auto;
	max-width: 1000px;
}

.header-title {
	padding: 1em;
  margin: 0;
}

.nav-content {
	text-align: right;
	vertical-align: middle;
}

.footer {
	font-family:Open Sans,Arial;
	color: #ccc;
	background-color: #252525;
	margin:0 auto;
	padding: 0;
	position: relative;
}

.footer-content {
	font-size: 0.8em;
	padding: 1em;
	margin:0 auto;
	max-width:1000px;
	text-align: right;
}


.column {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
}

.right-float{
	float: right;
}

.right{
	text-align: right;
}

.table {
	display: table;
	width: 100%;
}

.row {
	display:table-row;
	text-align: center;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column>p:not(.source) {
	text-align: justify;
}

a > button{
	margin: 0;
}

.button {
  background-color: #555; /* Green */
  border: none;
  color: white;
  padding: 1em;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-bottom: 5px solid Transparent;
}


.button-nav {
  background-color: Transparent; 
  color: #ddd; 
  border-bottom: 5px solid Transparent;
}

.button-nav:hover {
  color: #ffffff;
  border-bottom: 5px solid white;
}


.button-next-article {
	background-color: Transparent;
	color: #050505; 
	border: 1px solid #050505;
	border-radius: 3em;
}

.button-next-article:hover {
	background-color: #ffe854;
	color: #000; 
	border: 1px solid #050505;
	border-radius: 3em;
}

.button-next-article.red:hover {
	background-color: #ff0080;
	color: #fefefe; 
	border: 1px solid #050505;
	border-radius: 3em;
}

.button-next-article.purple:hover {
	background-color: #a000ff;
	color: #fefefe; 
	border: 1px solid #050505;
	border-radius: 3em;
}


.button-next-article.blue:hover {
	background-color: #0080ff;
	color: #fefefe; 
	border: 1px solid #050505;
	border-radius: 3em;
}


.center
{
	margin: auto;
	padding: 1em;
	max-width:800px;
}

section {
	font-family:Open Sans,Arial;
	color:#454545;
	font-size:16px;
	margin:2em auto;
	max-width:800px;
	line-height:1.4;
	text-align:justify;
}

.section-title:first-child, .section-content:first-child, .section-next-article:first-child {
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.section-title:last-child, .section-content:last-child, .section-next-article:last-child {
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}


.section-title {
	padding: 1em;
	background-color: #454545;
	color: #fefefe;
	margin: 0;
	text-align: center;
}

.section-title.purple {
	padding: 1em;
	background-color: #8000ff;
	color: #fefefe;
	margin: 0;
	text-align: center;
}

.section-title.red {
	padding: 1em;
	background-color: #ff0080;
	color: #fefefe;
	margin: 0;
	text-align: center;
}


.section-title.blue {
	padding: 1em;
	background-color: #0080ff;
	color: #fefefe;
	margin: 0;
	text-align: center;
}

.section-content {
	padding: 1em;
	background-color: #faf9f2;
}

.section-next-article {
	padding: 1em;
	background-color: #faf9f2;
}

.center {
	text-align: center;
}



.container {
	margin: 1em auto;
}

.container-article {
	border-radius: 5px;
	border: 2px solid #454545;
	cursor: pointer;
}

.container-article.fake {
	cursor: default;
}
.container-article-title
{
	background-color: #454545;
	color: #fefefe;
	padding: 0.5em;
}

.container-article.blue {
	border-radius: 5px;
	border: 2px solid #0080ff;
}

.container-article.red {
	border-radius: 5px;
	border: 2px solid #ff0080;
}

.container-article.purple {
	border-radius: 5px;
	border: 2px solid #a000ff;
}

.blue .container-article-title
{
	background-color: #0080ff;
}

.red .container-article-title
{
	background-color: #ff0080;
}

.purple .container-article-title
{
	background-color: #a000ff;
}


.container-article-content
{
	overflow: auto;
}

.container-article-content-img
{
	float: left;
	max-width: 35%;
	padding: 1em;
}

.content-img
{
	max-width: 600px;
	width: 100%;
	display: block;
	margin-left: auto;
  margin-right: auto;
}

.source {
	text-align: center;
	color: #666;
	font-size: 0.8em;
	font-style: italic;
}

.content-img.small
{
	max-width: 200px;
	width: 100%;
	display: block;
	margin-left: auto;
  margin-right: auto;
}

.content-img.medium
{
	max-width: 300px;
	width: 100%;
	text-align: center;
	display: block;
	margin-left: auto;
  margin-right: auto;
}


.container-article-content-text
{
	vertical-align: middle;
	padding: 1em;
}

.container-article-date
{
	margin:0;
	font-size:0.8em;
	color:#737270;
	font-style: italic;
	padding-top: 0;
	padding-right: 1em;
	text-align: right;
}
